@mixin middle {
  display: flex;
  justify-content: center;
  align-items: center;
};

.apply {

  .topimage {
    width: 100%;  
    height: 300px;
    overflow: hidden;
    @include middle;

    img {
      width: 100%;
      
    }
  }

  > .inner {
    height: 100%;

    .registerProgramContainer {
      margin-top: 20px;
      display: flex;
      border: 1px solid #BDBDBD;

      .registerNumber {
        width: 100px;
        height: 100px;
        @include middle;
        
        h3 {
          font-size: 20px;
        }

      }

      ul.registerProgram-StyleSelect {
        width: 1200px;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        box-sizing: border-box;
        
        li.styleSelectBox {
          width: 19%;
          height: 100px;
          @include middle;
          border-top-right-radius : 5px;
          border-top-left-radius : 5px;
          border: 1px solid #BDBDBD;
        }
        li.styleSelectBox:hover {
          cursor: pointer;
          background-color: #EAEAEA;
        }
        li.styleSelectBox.selected {
          background-color: #EAEAEA;
        }
      }

      .registerProgram-Content {
        display: flex;

        .divider {
          width: 1px;
          background-color: #8C8C8C;;
        }
        .intermission{
          width: 1200px;
          @include middle;
        }
        .register {
          @include middle;
        }
        .register.content {
          position: relative;
          width: 1200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 10px;
          box-sizing: border-box;
          
          .inputbox {
            position: relative;
            width: 1150px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: 10px;

            .name {
              width: 100px;
              @include middle;

              .notice-x {
                width: 20px;
                height: 20px;  
                border: 1px solid #ccc;
                box-sizing: border-box; 
                font-size: 12px;
                border-radius: 5px;
                text-align: center;
                margin-left: 3px;
              }
              .notice-x:hover {
                cursor: pointer;
                border: 1px solid #333;
              }
            }
            .button {
              @include middle;
              width: 200px;
              height: 50px;
              padding: 4px 10px;
              border: 1px solid #ccc;
              box-sizing: border-box;
              border-radius: 5px;
              font-size: 20px;
              h4 {
                font-size: 16px;
              }
              p {
                font-size: 12px;
              }
            }
            .button:hover {
              cursor: pointer;
              border: 1px solid #333;
            }
            input {
              width: 1100px;
              height: 50px;
              padding: 4px 10px;
              border: 1px solid #ccc;
              box-sizing: border-box;
              border-radius: 5px;
              color: #777;
              font-size: 20px;
            }
            textarea {
              width: 1100px;
              height: 200px;
              padding: 4px 10px;
              border: 1px solid #ccc;
              box-sizing: border-box;
              border-radius: 5px;
              color: #777;
              font-size: 20px;
              line-height: 30px;
              resize: none;
            }
            
            .song-plus-minus-button{
              width: 50px;
              height: 50px;
              @include middle;
            
              p {
                width: 30px;
                height: 30px;
                font-size: 24px;
                @include middle;
                border: 1px solid #8C8C8C;
                border-radius: 5px;
              }
              p:hover {
                background-color: #8C8C8C;
                cursor: pointer;
              }
            }
            .autoComplete {
              width: 610px;
              position: absolute;
              left: 100px;
              top: 50px;
              background-color: #FFF;
              border: 1px solid #8C8C8C;
              z-index: 9;
              padding: 10px;
              box-sizing: border-box;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
  
              .dropDownList {
                height: 40px;
                display: flex;
                align-items: center;
              }
              .dropDownList.selected{
                width: 100%;
                background-color: #EAEAEA;
              }
            }
          }
          .notice {
            justify-content: flex-start;
          }
          .backBtn {
            position: absolute;
            left: 5px;
            top: 5px;
            width: 20px;
            height: 20px;
            border: 1px solid #8C8C8C;
            border-radius: 5px;
            @include middle;
          }
          .backBtn:hover {
            cursor: pointer;
            background-color: #BDBDBD;
          }

        }  
        .register.subContent {
          width: 1200px;
          flex-direction: column;
          padding-top: 10px;
          align-items: flex-end;
          padding: 10px;
          box-sizing: border-box;

          .subContent-Add-button{
            width: 100px;
            height: 30px;
            background-color: #EAEAEA;
            margin-bottom: 10px;
            @include middle;
          }
          
          .inputbox {
            width: 1150px;
            min-height: 50px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-radius: 5px;
            margin-bottom: 10px;
            
            .name1 {
              width: 20px;
              @include middle;
            }
            
            .name2 {
              width: 80px;
              @include middle;
            }

            input {
              width: 1000px;
              height: 100%;
              padding: 4px 10px;
              border: 1px solid #ccc;
              box-sizing: border-box;
              border-radius: 5px;
              color: #777;
              font-size: 20px;
            }
            textarea {
              min-height: 350px;
              width: 500px;
              resize: none;
            }
            .plus-minus-button {
              width: 50px;
              height: 50px;
              @include middle;
            
              p {
                width: 30px;
                height: 30px;
                font-size: 24px;
                @include middle;
                border: 1px solid #8C8C8C;
                border-radius: 5px;
              }
              p:hover {
                background-color: #8C8C8C;
                cursor: pointer;
              }
            }
          }
          
        }
        
      }

      .buttonbox {
        width: 400px;
        height: 50px;
        left: 0;
        right: 0;
        margin: 20px auto;
        display: flex;
        justify-content: center;

        .button {
          width: 150px;
          height: 40px;
          background-color: #EAEAEA;
          border-radius: 10px;
          margin-left: 20px;
          margin-right: 20px;
          @include middle;

          p {
            font-weight: 700;
          }
        }
        .button:hover {
          background-color: #8C8C8C;
          cursor: pointer;
        }
      }
    }
    .plus-minus-button {
      width: 50px;
      height: 50px;
      @include middle;
    
      p {
        width: 30px;
        height: 30px;
        font-size: 24px;
        @include middle;
        border: 1px solid #8C8C8C;
        border-radius: 5px;
      }
      p:hover {
        background-color: #8C8C8C;
        cursor: pointer;
      }
    }
  }

}

