@mixin middle {
  display: flex;
  justify-content: center;
  align-items: center;
};

.projects {
  width: 100vw;
  margin-bottom: 100px;

  > .inner {
    height: 100%;
   
    .topbox {
      width: 100%;
      margin-top: 100px;
      margin-bottom: 100px;
      

      h1 {
        font-size: 70px;
        font-weight: bold;
      }
      
    }


    .project-box {
      width: 100%;
      min-height: 500px;
      border: 1px solid #EAEAEA;
      display: flex;
      border-radius: 10px;
      padding: 30px;
      margin-bottom: 50px;

      .project-img {
        width: 500px;
        background-color: red;
        border-radius: 20px;
      }
      .textbox {
        padding: 50px;

        h1 {
          font-size: 50px;
          font-weight: bold;
          margin-bottom: 30px;
        }

        .textrow {
          margin: 20px 0;
          display: flex;
          
          .row-name {
            display: flex;
            width: 150px;
            margin-right: 20px;

            p {
              font-size: 20px;
              margin-left: 10px;
              font-weight: 700;
            }
          }
          .row-notice {
            font-size: 20px;

            .project-icon {
              width: 150px;
              border: 2px solid #BDBDBD;
              border-radius: 25px;
            }
            .button-box {
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
    
              a {
                text-decoration: none;
                color: inherit;
    
                .button {
                  width: 200px;
                  height: 50px;
                  border: 1px solid #333;
                  border-radius: 10px;
                  margin: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
    
                  .btn-img {
                    width: 20px;
                    height: 22px;
                    margin-right: 10px;
                  }
                  .p {
                    font-size: 18px;
                    font-weight: bold;
                  }
                }
                .button:hover {
                  background-color: #EAEAEA;
                  cursor: pointer;
                }
              }
            }
          }
        }
        
        
 
      
      
       
      }
    }
  
    

  }
}


@media screen and (max-width : 600px) { 
  
  .projects {
    width: 100vw;

    > .inner {
      width: 90%;
      @include middle;
      flex-direction: column;

      .topbox {
        
        h1 {
          font-size: 40px;
        }
      }

      .project-box{
        @include middle;
        flex-direction: column;
        width: 80%;
        padding: 40px;
        
        
        .project-img {
          width: 350px;
          height: calc(width * 2);
        }

        .textbox {
          padding: 20px 20px 0px 20px;

          h1 {
            font-size: 30px;
          }
        
          .textrow {
            flex-direction: column;
            

            .row-name {
              margin: 10px 0;
            }

            .row-notice {
              

              .project-icon {
                width: 100px;
              }
              .button-box {
                height: 80px;
                justify-content:flex-start;
                

                a {
                  .button {
                    width: 180px;
                    height: 40px;
                    
                  }
                }
              }
            }
          }
        }

      }

    }
  }


}

  

  