@mixin middle {
  display: flex;
  justify-content: center;
  align-items: center;
};

.login {
  height: calc(100vh - 100px);   

  > .inner {
    height: 100%;
    @include middle;


    .container {
      width: 500px;
      height: 400px;
      border: 2px solid #EAEAEA;
      border-radius: 5px;

      .notice {
        text-align: center;
        margin: 20px;
      }
      .loginbuttonbox {
        display: flex;
        justify-content: center;

        .loginbutton {
          width: 200px;
          height: 50px;
          margin: 10px;
          border-radius: 5px;
          cursor: pointer;
          @include middle;

          img {
            width: 50px;
            height: 50px;
          }
        }
        .loginbutton.kakao {
          background-color: #FDE500;
        }
        .loginbutton.naver {
          background-color: #03C75A;
        }
        .loginbutton.kakao:hover,
        .loginbutton.naver:hover {
          opacity: 0.8;
        }
      }

      h3 {
        text-align: center;
        font-size: 14px;
        color: #8C8C8C;
      }

      .emailbox-id,
      .emailbox-pass {
        width: 500px;
        height: 50px;
        margin-top: 10px;
        @include middle;

        input {
          width: 420px;
          height: 100%;
          padding: 4px 10px;
          border: 1px solid #ccc;
          box-sizing: border-box;
          border-radius: 5px;
          color: #777;
          font-size: 16px;
        }       
      }

      .emailloginbuttonbox {
        width: 500px;
        height: 50px;
        margin-top: 10px;
        @include middle;

        .emailloginbutton {
          width: 420px;
          height: 100%;
          background-color: #333;
          border: 1px solid #ccc;
          box-sizing: border-box;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;
          @include middle;
        }
        .emailloginbutton:hover {
          opacity: 0.8;
        }
      }
      .bottombox {
        width: 500px;
        height: 50px;
        @include middle;
        
        .cover {
          width: 420px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          p:hover {
            opacity: 0.8;
            cursor: pointer;
          }
        }
        
      }

    }
  }
}