@mixin middle {
  display: flex;
  justify-content: center;
  align-items: center;
};

.usenotice {

  .topimage {
    width: 100%;  
    height: 300px;
    overflow: hidden;
    @include middle;

    img {
      width: 100%;
      
    }
  }
  
  > .inner {
    height: 100%;
    width: 1000px;
    
    .notice-content-cover {

      h2 {
        font-size: 24px;
        margin: 20px;
      }
      .cover {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        
        div.menunotice {
          width: 100%;
          border : 1px solid #EAEAEA;
          border-radius: 10px;
          padding: 20px;
          margin-bottom: 10px;
          
          h4 {
            font-size: 20px;
            margin-bottom: 10px;
          }
        
          div.box {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            
            p.menu-name {
              color: #003399;
            }
            .divider {
              width: 2px;
              height: 15px;
              margin-left: 15px;
              margin-right: 15px;
              background-color: #EAEAEA;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}