.App {
  font-family: 'Pretendard';
  color: #333;
  font-weight: 500;
  line-height: 1.4;
  font-size: 16px;
  padding-top: 100px;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  background-color: #fff;
}

.inner {
  position: relative;
  width: 1300px;
  margin: 0 auto;
}



// .btn {
//   width: 130px;
//   padding: 10px;
//   border: 2px solid #333;
//   border-radius: 4px;
//   color: #333;
//   font-size: 16px;
//   font-weight: 700;
//   text-align: center;
//   cursor: pointer;
//   box-sizing: border-box;
//   display: block;
//   transition: .4s;
// }
// .btn:hover {
//   background-color: #333;
//   color: #fff;
// }
